.nav-bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
  }
  
.account-section {
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.account-section img {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.account-section input {
    background-color: #f6f7f9;
    border: none;
    border-radius: 5px;
    padding: 8px 8px 8px 30px;
}

#icon {
    position: relative;
    left: 35px;
}

.notification-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.notification-bell {
    font-size: 24px; 
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

.account-dropdown {
    font-size: 10px;
}

.randomized-data {
    padding: 5px;
    color: #47b747;
    background-color: #e8eefd;
    border-radius: 5px;
    border: none;
}